<div class="col-xs-4">
	<div class="panel panel-default">
		<form name="add_portfolio_form" action="" novalidate >
			<div class="panel-heading"> 
				<h3> Add new album</h3>

				<div class="alert alert-danger"  
				ng-show="add_portfolio_error">
				{{add_portfolio_error}}</div>

				<input type="text" placeholder="title" size="20" ng-model="adding_portfolio.title" />
				<span class="portfolio-date">
					<input type="date" name="date" placeholder="yyyy/mm/dd" size="10" ng-model="adding_portfolio.date" ng-required="true" ng-minlength="7" />
				</span>
			</div>
			<div class="panel-body">
				<textarea placeholder="description" rows="4" style="width:100%;" ng-model="adding_portfolio.description"></textarea>
				<input type="text" placeholder="short name" ng-model="adding_portfolio.name" />
				<button ng-click="addPortfolio(adding_portfolio)" type="button" class="btn btn-success">Add Portfolio</button>
			</div>
		</form>
	</div>
</div>